.qm-content-links {
  position: absolute;
  top: 0;
  left: rem(8px);
  z-index: 120;

  @at-root [dir='rtl'] & {
    left: auto;
    right: rem(8px);
  }

  &__link {
    display: block;
    padding: 0;
    font-size: rem(18px);
    background: #E3ECF0;
    color: rgba(0,0,0,0.9);
    position: absolute!important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);

    &:active,
    &:focus {
      padding: rem(15px $global-standard-padding);
      color: rgba(0,0,0,0.9);
      position: static!important;
      height: auto;
      width: auto;
      overflow: visible;
      clip: auto;
    }
  }
}