 .search-filter {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;

    input {
        width: inherit;
        box-sizing: border-box;
        height: rem(45px);
        border: 2px solid $dark-transparent30;
        border-radius: 100px;
        color: $dark-transparent82;
        font-size: rem(18px);
        padding: rem(10px) 10px;
        font-weight: 300;
        padding-right: rem(35px);
        padding-left: rem(15px);
        width: 100%;

        @at-root [dir='rtl'] & {
            padding-left: rem(35px);
            padding-right: rem(15px);
        }
    }

    label {
        margin: 0;
        position: absolute;
        right: 5px;
        left: auto;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 25px;
        background: $qmatic-search-icon-background;
        color: $qmatic-search-icon;
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        @at-root [dir='rtl'] & {
            right: auto;
            left: 5px;
        }
    }
}

.qm-search-filter {
    $self: &;

    &__icon {
        font-size: rem(24px);
        color: $dark-transparent42;


        @at-root [dir='rtl'] & {
            left: rem(12px);
            right: auto;
        }
    }

    &__clear-btn {
        display: none;
        border: 0;
        padding: 0;
        height: rem(18px);
        background: transparent;
        position: absolute;
        right: 0;
        left: auto;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        @at-root [dir='rtl'] & {
            right: auto;
            left: 0;
        }

        &:hover {
            #{ $self }__clear-btn-icon {
                color: $dark-transparent82;
                
            }
        }
    }

    &__clear-btn-icon {
        font-size: rem(18px);
        color: $dark-transparent42;
        border-radius: 25px;
        background: $qmatic-search-icon-background;
        padding: 12px;
    }

    &--show-clear-btn {
        #{ $self }__clear-btn {
            display: block;
        }

        #{ $self }__icon {
            display: none;
        }
    }
}